*{
    font-family: 'Titillium Web', sans-serif;
}

body{
    background: black;
}

section{
    /* height: 100vh; */
    overflow: hidden;
}

#myVideo{
    width: 100vw;
    z-index: 0;
}

/* Animasi */
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.animationScale{
    animation-name: scale;
    animation-duration: 1s;
}
/* End Animasi */

/* Header */

.navbar{
    z-index: 1;
    width: 100%;
}

#page{
    width: 60%;
    padding: 20px 0;
}

.page-link{
    font-weight: 700;
    color: #808080;
    background-color: transparent;
    border: 0;
}

.page-link:hover{
    background-color: transparent !important;
    color: white;
}

.toogle-dropdown:hover{
    color: white !important;
    transition-duration: 0.15s;
    cursor: pointer;
}

.nav-button a{
    font-size: 18px;
    color: #808080;
    font-weight: 700;
}

.nav-button:hover a{
    color: white;
}

.menu-dropdown{
    top: 40px;
    /* width: 0; */
    display: none;
    transition-duration: 1s;
}

.menu-dropdown a{
    width: 200px;
    font-weight: 600;
}

/* Banner */
.text-banner{
    color: white;
}

.title{
    font-size: 30px;
    font-weight: 700;
    line-height: 140%;
    margin: 0 10px;
}

#banner{
    position: relative;
}

.line-title{
    height: 6px;
}

.line{
    
    background-color: white
}

.shadow-left{
    width: 100px;
    height: 2px;
    background-image: linear-gradient(to left, white, transparent);
}

.shadow-right{
    width: 100px;
    height: 2px;
    background-image: linear-gradient(to right, white, transparent);
}

.banner-subtitle{
    font-size: 16px;
    width: 43%;
    margin: 20px  0;
}

.banner-subtitle span{
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 700;
}

.banner-button{
    margin-bottom: 20px;
    transition: 0.5s;
}

.banner-button:active, .galactic-button:active{
    transform: scale(0.95) !important;
}

.banner-button:hover, .galactic-button:hover{
    transform: scale(1.05);
}

/* End Banner */
/* Limit */
.limit{
    background-image: linear-gradient(to right, #222222e8, #222222);
}

.limit-item{
    padding: 25px 0;
}

.limit-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.limit-title span{
    color: #E99300;
}

.limit-subtitle{
    text-align: center;
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

/* End Limit */
/* Main */
/* Main-Stories */
.main-stories{
    box-shadow: 10px 0px 50px 50px inset black;
    background-image: url("asset/bg-stories.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.main-stories .container{
    padding: 50px 0;
}

.stories-image, .stories-text{
    width: 50%;
}

.bg-stories{
    z-index: -1;
    opacity: 100%;
}

.main-title{
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.main-subtitle{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.stories-text .main-subtitle{
    margin-top: 40px;
}

.stories-frame iframe{
    /* background-image: url(asset/broder\ iframe.png); */
    position: relative;
    z-index: 2;
}

.border-iframe{
    top: -20px;
    left: -7px;
    z-index: 1;
}

/* End Stories */
/* Main-Feature */

.main-feature{
    box-shadow: 0px 0px 100px 100px inset black;
    background-image: url(asset/bg-feature.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-feature .container{
    padding: 40px 0;
}

.feature-content{
    margin-top: 20px;
}

.feature-image{
    width: 40%;
}

.feature-text{
    width: 60%;
}

.feature-text div:nth-child(4) #shadow-feature{
    width: 50px;
    height: 86%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    top: 0;
    right: 0;
}

.feature-1{
    left: 0;
}

.feature-2{
    right: 20px;
}

.feature-item-short .feature-item-long{
    /* transition-duration: 2s; */
    cursor: pointer !important;
    animation-name: scale !important;
    animation-iteration-count: 1 !important;
    animation-duration: 2s !important;
}

.feature-item-short .feature-item-long img{
    transition-duration: 2s;
}

.feature-text{
    padding: 40px 0;
    transition-duration: 2s;
}

.feature-text div:nth-child(2), .feature-text div:nth-child(3){
    margin: 0 10px ;
}

.feature-item-text{
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    transition-duration: 1s;
    margin: 0 !important;
}

.title-short{
    position: absolute;
    text-align: right;
    top: 180px;
    left: -103px;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
    height: auto;
    transform: rotate(-90deg);
    color: white;
    transition-duration: 1s;
}

.hide-short, .subtitle-short{
    display: none;
    transition-duration: 1s;
}

.feature-item-long{
    text-align: left !important;
    transition-duration: 1s;
    /* overflow: hidden; */
}

.feature-item-long .feature-item-text{
    padding: 20px 50px;
    height: 100%;
}

.title-long{
    margin: 20px 0 10px 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
    transition-duration: 1s;
}

.subtitle-long{
    font-family: "Poppins";
    color: white;
    font-size: 14px;
    margin-top: 10px;
    transition-duration: 1s;
}

/* End Feature */
/* Main Galactic */
.main-galactic{
    background-image: url(asset/bg-galactic.png);
    box-shadow: 0px 0px 100px 100px inset black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    /* overflow-x: auto; */
}

.main-galactic .container{
    margin-bottom: 100px;
}

.wrap-galactic{
    overflow-x: scroll;
}

.wrap-galactic::-webkit-scrollbar{
    display: none;
}

.galactic-content{
    /* min-width: 100%; */
    height: 750px;
    /* overflow: auto; */
    /* overflow-x: auto; */
}

.galactic-item{
    min-width: 378px;
    margin: 0 20px;
    /* overflow-y: hidden; */
    /* overflow: scroll; */
}

.galactic-item .bg-black{
    transition-duration: 0.5s;
}

.galactic-item:hover .bg-black{
    opacity: 0 !important;
}

.galactic-item:hover{
    overflow: visible !important;
}

.galactic-item:hover .galactic-border{
    width: 388px;
    height: 628px;
    overflow: hidden;
}

.galactic-item:hover .galactic-image{
    transform: scale(1.1);
    z-index: 2;
    opacity: 100;
    top: -10%;
}

.galactic-item:hover .galactic-text-hide{
    display: flex !important;
    z-index: 3;
}

.galactic-border{
    width: 378px; /*388*/
    height: 532px; /*628*/
    transition-duration: 0.5s;
}

.galactic-active{
    top: 15%;
    left: 0;
}

.galactic-text{
    bottom: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.galactic-button{
    transition-duration: 0.5s;
}

.galactic-text-hide{
    display: none !important;
    bottom: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.galactic-item{
    overflow: hidden;
}

.galactic-image{
    top: 10%;
    left: -25%;
    width: 150%;
    opacity: 50%;
    transition-duration: 0.5s;
}

/* End Galactic */
/* Main Earn */
.main-earn{
    background-image: url(asset/bg-earn.png);
    box-shadow: 0px 0px 100px 100px inset black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    overflow: hidden;
}

.earn-text{
    width: 50%;
}

.earn-image{
    padding: 100px 0;
    width: 40%;
}

.earn-text .main-subtitle{
    margin: 40px 0;
    width: 82%;
}

.image-etherum{
    width: fit-content;
}

.earn-image img{
    height: 450px;
}

.earn-image img:nth-child(2), .earn-image img:nth-child(3){
    position: absolute;
}

.earn-image img:nth-child(1){
    right: 0;
}

.earn-image img:nth-child(2){
    left: 20%;
    z-index: 2;
}

.earn-image img:nth-child(3){
    right: 0;
}

.earn-image img:nth-child(1){
    position: relative;
}

/* End Earn */
/* Main-Calculated */
.main-calculate{
    background-color: black;
}

.calculate-top{
    margin-bottom: 35px;
}

.calculated-item{
    padding: 27px 7%;
    width: 49%;
    background-color: #222222;
    height: 220px;
    overflow: hidden;
}

.calculated-item:nth-child(2){
    background-image: url("asset/etherium-grey.png");
    background-size: cover;
}

.calculated-title{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.calculated-number{
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.calculated-number span{
    font-size: 30px;
    font-weight: 500;
}

.calculated-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.calculated-subtitle span{
    color: #32A071;
}

.calculated-item:nth-child(1):hover .etherium-hide{
    opacity: 100;
}

.etherium-bg{
    right: -50px;
    bottom: -50px;
    transition-duration: 0.5s;
}

.etherium-hide{
    opacity: 0;
}

.calculated-bottom{
    background-color: #222222;
    padding: 40px 0;
}

.calculated-contents{
    margin: 20px 0;
}

.calculated-caption{
    font-size: 16px;
    font-family: 500;
    color: #808080;
}

.calculated-caption span{
    color: #32A071;
}

/* End Calculated */
/* Main Team */
.main-team{
    background-image: url(asset/bg-team.png);
    box-shadow: 0px 0px 100px 100px inset black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    overflow: hidden;
}

.border-team{
    top: -6px;
}

.team-content{
    margin: 40px 0;
    flex-wrap: wrap;
    /* overflow-wrap: normal; */
}

.team-item{
    padding-bottom: 20px;
    margin: 40px 0;
    overflow: hidden;
}

.team-image{
    overflow: hidden;
}

.team-item:hover .team-image img{
    transform: scale(1.3);
}

.team-image, .team-image img{
    width: 100%;
    transition-duration: 0.5s;
}

.shadow-team{
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, #e9940000, #E99300);
}

.team-name{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.team-job{
    font-family: "Poppins";
    color: #DE9635;
    font-size: 14px;
}

/* End Team */
/* Footer */
.footer{
    padding: 40px 0;
}

.footer-sosmed{
    margin: 40px 0;
    width: 20%;
}

.footer-subtitle{
    color: white;
    width: 50%;
    text-align: center;
}

.footer-copyright{
    width: 100%;
}

.footer-copyright p{
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
}

.copyright-item{
    padding: 0;
    margin: 0;
}

.copyright-item:nth-child(2) p:nth-child(1){
    border-right: 2px solid #808080;
}